section#benefits {

  div.heading {
    background-color: $lightGray;
    text-align: center;

    h2 {
      padding: 50px 0;
    }

    p {
      padding-bottom: 40px;
      margin: 0 auto;
      max-width: 500px;
    }
  }

  .content {
    background-color: $darkBlue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      opacity: .5;
      font-size: 50px;
      text-align: center;
      padding: 20px 5px;
    }

    figure {
      display: flex;
      align-items: center;
      margin-top: 30px;

      img {
        width: 115px;
      }

      figcaption {
        font-size: 25px;
        padding-left: 20px;
      }

      &:last-child {
        margin-bottom: 50px;
      }
    }
  }
}
