footer {
  background-color: #3c3c3c;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;

  div {
    margin-bottom: 30px;
  }

  .nav {

    a {
      font-family: "libre baskerville", serif;
      color: whitesmoke;
      font-size: 44px;
      text-decoration: none;
    }

    ul {
      list-style: none;

      a {
        font-size: 18px;
        font-family: "pt sans", sans-serif;
        color: rgb(190, 190, 190);
        
        &:hover {
          color: $lightBlue;
          text-decoration: underline;
        }

        li {
          margin-top: 5px;
        }
      }
    }
  }

  .media {
    color: white;
    max-width: 250px;
    margin: 0 auto;
    padding-bottom: 30px;

    p {
      text-align: center;
    }

    figure {
      display: flex;
      margin-top: 40px;
      justify-content: space-between;

      img {
        width: 50px;

        &:hover {
          filter: invert(38%) sepia(35%) saturate(5199%) hue-rotate(193deg) brightness(100%) contrast(108%);
          cursor: pointer;
        }
      }
    }
  }

  .newsletter {
    background-color: $lightBlue;
    border-top: 3px dashed white;
    border-bottom: 3px dashed white;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-family: "PT Sans", sans-serif;
      font-weight: bold;
      font-size: 30px;
      margin-top: 10px;
    }

    h3,
    p {
      text-align: center;
      line-height: 1.5em;
    }

    input {
      background: #2c2c2c;
      border: 2px solid #000000;
      font-size: 20px;
      padding: 5px 10px;
      border-radius: 30px;
      margin: 15px;
      color: white;

      &:focus {
        outline: 2px solid white;
      }
    }

    button {
      font-size: 25px;
      background-color: white;
      border: none;
      color: $lightBlue;
      padding: 5px 20px;
      margin: 20px 0;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
      transition: .2s;
      font-weight: 600;

      &:hover {
        cursor: pointer;
        background-color: $lightGray;
      }
    }
  }

  
}
