header {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;

  .heading {
    margin: 30px auto 0;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 60px;
      margin: 5px;
      span {
        font-size: 60px;
      }
    }

    p {
      border-top: 1px solid black;
      margin: 10px;
      padding-top: 5px;
    }

    button {
      align-self: center;
      font-size: 25px;
      background-color: $lightBlue;
      border: none;
      color: white;
      padding: 5px 20px;
      margin: 30px 0;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .6);
      transition: .2s;

      &:hover {
        cursor: pointer;
        background-color: $darkBlue;
      }
    }
  }

  #head_img {
    padding-right: 50px;
    img {
      width: 100%;
      max-width: 300px;
      height: auto;
    }
  }
}
