section#infographic {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
    margin: 30px 0;
  }

  img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}
