// mobile first

@media screen and (min-width: 1000px) {
  // Navigation
  nav {
    div.width {
      max-width: 1300px;
      margin: auto;
      position: relative;

      button#nav_buy {
        display: inline-block;
        transition: 0.2s;
      }
    }
  }

  div#nav_menu {
    width: 500px;
    right: 0;
    border-radius: 10px;
    transform: translate(-10px, 10px);
  }

  // Header
  header {
    flex-direction: row;

    .heading {
      h1 {
        span {
          font-size: 120px;
        }
      }
    }

    div#head_img {
      padding: 30px;
      img {
        max-width: 430px;
        height: 430px;
      }
    }
  }

  // History
  section#history {
    article {
      display: flex;
      justify-content: space-around;
      align-items: center;

      h2 {
        margin: 10px;
      }

      div.dashed {
        width: 600px;
        border-radius: 50px;
        margin: 70px 20px;
        border: 5px dashed white;
      }
    }
  }

  // Infographic
  section#infographic {
    h2 {
      margin-top: 50px;
    }

    img#info1 {
      display: none;
    }
    img#info2 {
      display: block;
      max-width: 600px;
      margin-bottom: 50px;
    }
  }

  // Cut
  section#cut {
    display: flex;
    align-items: center;
    justify-content: center;

    div.heading {
      width: 50%;
    }

    div.content {
      padding: 50px 0;
      width: 50%;

      div.figures {
        display: flex;

        figure {
          flex-direction: column;

          figcaption {
            padding-left: 0;
          }
        }
      }
    }
  }

  // Benefits
  section#benefits {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

    div.heading {
      width: 50%;
    }

    div.content {
      padding: 50px 0;
      width: 50%;
    }
  }

  // Offer
  section#offer {
    div.offer-wrap {
      flex-direction: row;
      justify-content: space-around;

      div.bundle {
        border: 5px dashed black;
        border-radius: 50px;
        width: 320px;
        box-sizing: border-box;
        justify-content: space-around;
        margin: 5px;

        &:last-child {
          border-color: $darkBlue;
        }
      }
    }
  }

  // Contact
  section#contact {

    h2 {
      margin-top: 50px;
    }
    div.contact-wrap {
      flex-direction: row;
      justify-content: space-around;

      form {
        width: 50%;
        align-self: center;

        label {
          margin: 10px 30px;
          margin-top: 20px;
        }
      }

      img {
        display: block;
        height: 600px;
      }
    }
  }

  // footer
  footer {
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    padding: 50px 20px;


    div.nav {
      width: 200px;
    }

    div.media {
      margin: 50px;

      img {
        margin: 5px;
      }
    }

    div.newsletter {
      border: 5px dashed white ;
      border-radius: 50px;
      padding: 10px 30px;
      width: auto;
    }
  }
}
